<nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light p-1">
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerLink="/" class="navbar-brand">
    <img src="/assets/img/logo.jpg" height="36" width="45">
  </a>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul ngbNav #nav="ngbNav" class="navbar-nav">
      <li ngbNavItem>
        <a ngbNavLink class="nav-item nav-link"
           routerLink="/departments">Departments
        </a>
      </li>
      <li ngbNavItem>
        <a ngbNavLink class="nav-item nav-link"
           routerLink="/employees">Employees
        </a>
      </li>
    </ul>
  </div>
</nav>
